{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/entekhab/style.css">
{% endblock %}
{% block title %} صفحه اصلی {% endblock %}
{% block main %}
    <section class="container">
        <div id="one" class="box" onclick="location.href='/student_form'" >
            <img src="/static/img/1212021 65224 PM.jpg" alt="">
            <div class="text">
                <h1>پنل دانش آموزی</h1>
                <p>در این پنل دانش آموز قابلیت هایی دارد که میتواند باعث پیشرفت تحصیلی او شود</p>
            </div>
        </div>
        <div id="two" class="box" onclick="location.href='/admin_form'">
            <img src="/static/img/1733823671-67580cb7b840c-.jpg" alt="">
            <div class="text">
                <h1>پنل پرسنل</h1>
                <p>این پنل باعث پیشرفت کار پرسنل ها میشود منظور از پرسنل مدیر یا معاونان است</p>
            </div>

        </div>
        <div id="three" class="box " onclick="location.href='/teacher_form'">
            <img src="/static/img/teacher1.jpg" alt="">
            <div class="text">
                <h1>پنل دبیر</h1>
                <p>در این پنل دبیر ها با امکاناتی که پنل دبیر ها دارد کار هایی که سخت بودند راحت میشوند</p>
            </div>

        </div>
    </section>
{% endblock %}